<h3>Create Account</h3>
<%= form_with model: @user, url: '/signup' do |f| %>
  <%= hidden_field_tag :referrer, request.referrer %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <%= f.button "Clear", type: 'reset', class: "btn btn-link" %>
  </div>
<% end %>
